pipeline/PL_extraction_season_race.json
{
	"name": "PL_extraction_season_race",
	"properties": {
		"activities": [
			{
				"name": "lookup activity for season",
				"description": "this activity to lookup every year of the in the seasen",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "extract_fies_of_season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dataset_for_lookup_activity",
						"type": "DatasetReference",
						"parameters": {
							"layer_name": {
								"value": "@pipeline().parameters.lookup_layer_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.lookup_dataset_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach iterationg years",
				"description": "this activity to iterate years to extract race files",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "lookup activity for season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup activity for season').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 25,
					"activities": [
						{
							"name": "Execute Pipeline for iteration every file in dataset",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_extracting_race_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"item_form_master": {
										"value": "@item().MRData.SeasonTable.Seasons",
										"type": "Expression"
									},
									"limit_for_source": {
										"value": "@pipeline().parameters.limit",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "extract_fies_of_season",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_child_copydata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataset_name_source": {
							"value": "@pipeline().parameters.dataset_name_source",
							"type": "Expression"
						},
						"limit": {
							"value": "@pipeline().parameters.limit",
							"type": "Expression"
						},
						"sink_layer_name": {
							"value": "@pipeline().parameters.sink_layer",
							"type": "Expression"
						},
						"dataset_name_sink": {
							"value": "@pipeline().parameters.sink_dataset_name",
							"type": "Expression"
						},
						"sink_file_name": {
							"value": "@pipeline().parameters.sink_file_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup_for_year_round_in_race",
				"description": "this activity lookup race dataset and gives the year and round value to extact file for result",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dataset_for_lookup_activity",
						"type": "DatasetReference",
						"parameters": {
							"layer_name": {
								"value": "@pipeline().parameters.lookup_layer_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.lookup_dataset_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach iterate lookup of race",
				"description": "iterates race dataset fiels ",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "lookup activity for season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup activity for season').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 25,
					"activities": [
						{
							"name": "Execute Pipeline - race file data",
							"description": "this activity invoke another foreach to exatrac year and round value",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_extracting_result_fils_from_apit",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"master_array": {
										"value": "@item().MRData.RaceTable.Races",
										"type": "Expression"
									},
									"limit": {
										"value": "@pipeline().parameters.limit",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "foreach iterate lookup of pitspots",
				"description": "iterates race dataset fiels ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup activity for season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup activity for season').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 25,
					"activities": [
						{
							"name": "Execute Pipeline - race file data_copy1",
							"description": "this activity invoke another foreach to exatrac year and round value",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_extracting_result_fils_from_apit",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"master_array": {
										"value": "@item().MRData.RaceTable.Races",
										"type": "Expression"
									},
									"limit": {
										"value": "@pipeline().parameters.limit",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dataset_name_source": {
				"type": "String"
			},
			"sink_layer": {
				"type": "String",
				"defaultValue": "bronze"
			},
			"sink_file_name": {
				"type": "String"
			},
			"sink_dataset_name": {
				"type": "String"
			},
			"limit": {
				"type": "String"
			},
			"lookup_dataset_name": {
				"type": "String"
			},
			"lookup_layer_name": {
				"type": "String",
				"defaultValue": "bronze"
			}
		},
		"variables": {
			"set": {
				"type": "String"
			},
			"offset": {
				"type": "Integer",
				"defaultValue": 0
			},
			"incremental_offset": {
				"type": "Integer"
			},
			"season": {
				"type": "String"
			},
			"limit_in_int": {
				"type": "Integer"
			},
			"limit_in_string": {
				"type": "String"
			}
		},
		"annotations": []
	}
}